<html>
    <head>
<style>
#main {
text-align: center;
margin-top: 50px;
font-size: 32;
font-family: Helvetica, Arial;
}

</style>
    </head>
    <body>
        <div id="main">{{.Name}}</div>
    </body>
</html>
